#dashboard-title {
    width: 100%;
    text-align: center;
}

#filters{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 5em;
    align-items: center;
}

.filter {
    text-decoration: none !important; 
    color: black  !important; 
}

.filter:hover {
    text-decoration: underline !important;
}

#settings{
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
}

#filters-with-settings {
    display: flex;
    flex-direction: row;
}

.empty-dashboard {
    margin-top: 15vh;
    font-family: 'Dosis-Regular';
    text-align: center;
    font-weight: 100;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
}